@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  background: linear-gradient(to left, #474747, #161616)0 0 / 200% 100%;
  animation: move-bg 2.5s infinite reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.workCards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));

  @media (min-width:1280px) {
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  }
}